<html>
  <mat-toolbar color="primary" ng-hide="">
    <p class = inicial >ofertas</p>
    <p class = siguiente>capacitaciones</p>
    <p class = siguiente>entrevistas</p>
    <button class = botonNav1 mat-button mat-flat-button  style="display:block; width: 150px;">inicia sesion</button>
    <button class = botonNav2 mat-button mat-flat-button  style="display:block; width: 150px;">registrarse</button>
   </mat-toolbar>

<body>
         <div class = "contenido"></div>
         <h1 class = "registro">Registro</h1>
         <h2>Inicia este viaje de formacion personal y laboral</h2>
         <div class = formulario>
        
               <div class = datospersonales>
                     <form action = "">
                       <p>
                         <input type="text" name = "Nombre" placeholder = "Nombre" class = nombre>
                         <input type="text" name = "apellido" placeholder = "apellido" class="apellido">
                       </p>
                       <p>
                        <input type="text" name = "documento1" placeholder = "tipo de documento" class="documento1">
                        <input type="text" name = "documento2" placeholder = "numero de documento" class="documento2">
                        <input type="email" name = "Correo" placeholder = "Correo" class="Correo">
                       </p>
                       <p>
                        <input type="text" name = "dia" placeholder = "dia" class="dia">
                        <input type="text" name = "mes" placeholder = "mes" class="mes">
                        <input type="text" name = "año" placeholder = "año" class="año">
                        <input type="tel" name = "Telefono" placeholder = "Telefono" class = "telefono">
                        <input type="text" name = "contraseña" placeholder = "contraseña" class="contraseña">
                       </p>
                       <p>
                        <input type="checkbox" name = "terminos" class="check">
                        acepto los terminos y condiciones
                       </p>
                       <button mat-button color="primary" class = "registrarse">registrarse</button>
                       O registrate con
                       <button mat-button color="primary" class = "facebook">facebook</button>
                       <button mat-button color="primary" class = "google">google</button>
                       <button mat-button color="primary" class = "linkedin">linkedin</button>
                     
                     </form>
                     <p>¿ya tienes cuenta? <span> inicia sesion</span></p> 
               </div>

         </div>

</body>
</html>